<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_ICustommerResource">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ICustommerValidationService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8523/DataServices" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ICustommerResource" contract="CustommerResource.ICustommerResource"
    name="NetTcpBinding_ICustommerResource">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8550/CustommerEngineService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICustommerValidationService"
    contract="CustommerValidation.ICustommerValidationService" name="NetTcpBinding_ICustommerValidationService">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
  </client>
		<services>
			<service behaviorConfiguration="CustommerServiceBehavior"
   name="Manager.Services.CustommerService">
				<endpoint address="CustommerService" binding="netTcpBinding" bindingConfiguration=""
    contract="Manager.ServiceContracts.ICustommerService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="CustommerService/mex" binding="mexTcpBinding" bindingConfiguration=""
    contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8510"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="CustommerServiceBehavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	</configuration>