<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.serviceModel>
  <services>
    <service behaviorConfiguration="CustommerValidationServiceBehavior" name="Engine.Services.CustommerValidationService">
      <endpoint address="CustommerEngineService" binding="netTcpBinding" bindingConfiguration="" contract="Engine.ServiceContracts.ICustommerValidationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="CustommerEngineService/mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
      <host>
        <baseAddresses>
          <add baseAddress="net.tcp://localhost:8550" />
        </baseAddresses>
      </host>
    </service>
  </services>
  <behaviors>
    <serviceBehaviors>
      <behavior name="CustommerValidationServiceBehavior">
        <serviceMetadata httpGetEnabled="false" />
        <serviceDebug includeExceptionDetailInFaults="false" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
</system.serviceModel>
</configuration>